h1 {
    font-family: monospace;
    animation: color-change 3s infinite;
}

 /* color changing effect */ 
@keyframes color-change {
    0% { color: rgb(255, 0, 0); }
    10% { color: rgb(255, 123, 0); }
    20% { color: rgb(255, 187, 0); }
    30% { color: rgb(255, 238, 0); }
    40% { color: rgb(179, 255, 0); }
    50% { color: rgb(60, 255, 0); }
    60% { color: rgb(0, 255, 170); }
    70% { color: rgb(0, 174, 255); }
    80% { color: rgb(76, 0, 255); }
    90% { color: rgb(204, 0, 255); }
    100% { color: rgb(255, 0, 119); }
}

#footer {
    color: rgb(95, 93, 93);
    bottom: 0;
    position:fixed;
    background-color: rgba(255, 255, 255, 0.568);
    width: 100%;
    line-height: 2;
    text-align: center;
}
  